table.chords,td.chords,th.chords,tr.chords 
{
    border:2px solid black;
    width:500px ;
    text-align:center ;
    border-collapse:collapse ;
    background-color: honeydew; 
}

tr.chords2,td.chords2 
{
    background-color: #FFE4C4 ;
}

ol.struct {
/* list-style-type: lower-alpha ; */
}

li.struct {
    
    }

span.part-name {
/*     color:red ; */
    font-family:"Times New Roman", Times, serif;
    font-size: 2em ;
font-weight: bold ;
    }


h1.song-title {
	color:red
}


td.error {
color : red
}



/* score */
ul.song-score 
{
  list-style-type: none;
  padding: 0;
  margin: 0;
  /*    position: absolute; */
  top: 2em;
  left: 1em;
  width: 20em ;
  /*     border-right: 1em solid black  */
  }

li.song-score 
{
  color : green  ;
  }

table.song-score 
{
  font-family: monospace;
  border: thin solid #6495ed;
  width: 50%;
  background-color: #D0E3FA;
  background-color: honeydew; 
  border-collapse:collapse ;
  /* background-image: url(sky.jpg);*/
  }

tr.song-score 
{
  font-family: monospace;
  border: thin solid #6495ed;
  width: 50%;
  background-color: #D0E3FA;
  background-color: honeydew; 
  border-collapse:collapse ;
  /* background-image: url(sky.jpg);*/
  }

td.song-score-part-name 
{
  font-size : 1.5em ;
  text-align:center ;
  background-color: honeydew; 
  padding-left : 2em ;
  padding-right : 2em ;
  border: thin solid #6495ed;
  border-collapse:collapse ;
 }

td.song-score-part-nbars
{
  font-size : .8em ;
  text-align:center ;
  padding-left : 2em ;
  padding-right : 2em ;
  border: thin solid #6495ed;
  border-collapse:collapse ;
 }

td.song-score-part-from 
{
  font-size : .8em ;
  text-align:center ;
  padding : 2em ;
  padding-left : 2em ;
  padding-right : 2em ;
  border: thin solid #6495ed;
  border-collapse:collapse ;
}
